p {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 16px; 
    font-weight: bold;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.main-heading {
    text-align: center; 
    font-size: 18px; 
    font-family: sans-serif;
    text-align: center;
}

.chapter-heading {
    font-size: 18px; 
}

.sub-heading {
    font-size: 10px; 
    font-weight: normal; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI';
}

body {
    background-color: rgb(178, 112, 239);
}

.dev-info{
    text-align: right;
}

p, a {
    font-style: italic
}

.nav-marker-circle {
list-style-type: circle;
}

.nav-square-markers {
list-style-type: square;
}

.nav-none-markers {
list-style-type: none;
}

.container{
    box-sizing: border-box;

    width: 1080%px;
    height: 720%px;
    border: 5px solid black;
}

.block-1 {
    width: 500px;
    height: 200px;
}

.block-2 {
    width: 80%;
    height: 30%;
}

.block-3 {
    width: 70vw;
    height: 20%;

    max-width: 500px;
    min-width: 300px;

    max-height: 100px;
    min-height: 50px;
}

.block-5 {
    width: 100px;
    height: 100px;

    padding: 5px;
    border: 2px solid black;
    margin: 10px;
}

.block-6 {
    width: 500px;
    height: 50px;
    
    border: 5px solid black;
}

.block-7 {
    width: 500px;
    height: 50px;
    
    border: 10px dashed grey;
}

.block-8 {
    width: 600px;
    height: 150px;
    
    border: 15px double lightgreen;
}

.block-9 {
    width: 500px;
    height: 100px;
    
    border: 20px ridge lightblue;
}